<div class="nav-wrapper">
<input type="checkbox" id="toggle-1">
  <label id="showNavLabel" for="toggle-1">

    <div class="col">
      <span class="showNavIcon glyphicon glyphicon-th-list"></span>
      <h5>yellow and black</h5>
    </div>

  </label>


  <div class="navBar">
    <div class="col">

      <span class="showNavIcon glyphicon glyphicon-th-list"></span>
      <h5>yellow and black</h5>

      <ul class="list-unstyled text-small">
        <li><a class="" href="#">Adipisicing quis</a></li>
        <li><a class="" href="#">Anim et irure</a></li>
        <li><a class="" href="#">Magna deserunt</a></li>
        <li><a class="" href="#">Cillum nostrud</a></li>
        <li><a class="" href="#">Excepteur aliquip</a></li>
        <li><a class="" href="#">Laborum estl</a></li>
      </ul>

    </div>

  </div>

</div>
