<div class="nav-wrapper">
<input type="checkbox" id="toggle-1">
  <label id="showNavLabel" for="toggle-1">

    <div class="col">
      <span class="showNavIcon glyphicon glyphicon-th-list"></span>
      <div class="header-logo"></div>
    </div>

  </label>


  <div class="navBar">

    <div class="col">

      <span class="showNavIcon glyphicon glyphicon-remove"></span>
      <div class="header-logo-yellow"></div>

      <ul class="list-unstyled text-small">
        <li><a class="" href="#">Adipisicing quis</a></li>
        <li><a class="" href="#">Anim et irure</a></li>
        <li><a class="" href="#">Magna deserunt</a></li>
        <li><a class="" href="#">Cillum nostrud</a></li>
        <li><a class="" href="#">Excepteur aliquip</a></li>
        <li><a class="" href="#">Laborum estl</a></li>

      </ul>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>

        </div>
      </div>
      <!--
      <div class="signature">
        <p>Copyright Chris Dunne 2018</p>
      </div>  -->
    </div>


  </div>

</div>
