
//@import '/_variables.scss';
//@import 'src/app/sass/variables';
//$siteYellow: green;
@mixin background-imageSetting {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}
@mixin blackLogo {
  background-image: url("/assets/logo1.png");
}
@mixin yellowLogo {
  background-image: url("/assets/logo-yellow.png");
}


.nav-wrapper{
  background-color: yellow;
  border-bottom: 1px solid black;
  color: black;
  height: 10rem;
  left: 0;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .col{
    cursor: pointer;
    .showNavIcon{

        font-size: 3rem;
        float: left;
        line-height: 5rem;
    }

    .header-logo{
        @include background-imageSetting;
        @include blackLogo;
    }
    .header-logo-yellow{
        @include background-imageSetting;
        @include yellowLogo;
    }
  }
}


input[type=checkbox] {
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   z-index: 100000;
   /* For mobile, it's typically better to position checkbox on
      top of clickable  area and turn opacity to 0 instead. */
}
#showNavLabel{
   z-index: 100001;
   position: relative;
   width: 100%;
   min-width: 208px;
   color: black;
}
/* Default State */
.navBar {
   background: black;
   color: black;
   height: 100%;
   left: 0%;
   //line-height: 100px;
   position: fixed;
   top:-110%;
   transition: left 1s;
   width: 50vw;
     max-width: 500px;
     min-width: 208px;
   z-index: 10000;

   transition: top 0.2s;

   div{
     ul{
       li{
         background-color:yellow;
         font-size: 2rem;
         line-height: 5rem;
         padding-left: 2vw;
         margin-bottom: 1rem;

         &:hover{
           background-color: black;
           a{
             border-left: 5px solid yellow;
             color: yellow;
             text-decoration: none;
             margin-left: 10px;
           }
         }

         a{
           border-left: 1px solid black;
           color: black;
           padding-left: 5px;
           transition: margin .5s;
           transition: border .5s;
         }
       }
     }

     .dropdown{
       background-color:yellow;
       font-size: 2rem;
       line-height: 5rem;
       padding-left: 2vw;
       margin-bottom: 1rem;

       .btn-secondary{
         background-color: yellow;
         border: none;
         border-left: 1px solid black;
         color: black;
         font-size: 2rem;
         text-align: left;
         outline: none;
         width: 100%;
         &:focus{
           outline: none;
           box-shadow: none;
         }
       }

       .dropdown-menu{
         background-color: black;
         border:none;
         border-radius: 0;
         font-size: 1.3rem;
         height: 41rem;
         left: 18rem !important;
         padding: 0;
         padding-left: 0.6rem;
         position: absolute !important;
         top:4.2rem !important;
         width: 84%;
          //min-width: 17.8rem;

         .dropdown-item{
           border-left: 1px solid yellow;
           color: yellow;
           margin-bottom: 1rem;
           padding: 0;
           white-space: normal;

           &:hover{
             background-color: black;
             border-left: 1px solid yellow;
             color: yellow;
           }
         }
       }

       /*
       .dropdown-menu{
         background-color: black;
         border:none;
         border-radius: 0;
         height: 41rem;
         left: 0rem !important;
         padding-left: 52rem;
         position: fixed !important;
         top:50rem !important;
         width: 100%;
         z-index: -1000;
          //min-width: 17.8rem;

         .dropdown-item{
           border-left: 1px solid yellow;
           color: yellow;
           margin-bottom: 1rem;
           padding: 0;
           white-space: normal;

           &:hover{
             background-color: black;
             border-left: 1px solid yellow;
             color: yellow;
           }
         }
       }
*/

     }
   }
}

/* Toggled State */
input[type=checkbox]:checked ~ .navBar {
    background: black;
    color: yellow;
    top:0;
    left: 0;


}
input[type=checkbox]:checked ~ #showNavLabel{
  opacity: 0;
}
@media screen and (min-width: 575px) {
.navBar{
  div{
    .dropdown{
      .dropdown-menu{
      //  font-size: 2rem;
      left:45vw !important;
      }
    }
  }
}
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .navBar{
    div{
      .dropdown{
        .dropdown-menu{
        //  font-size: 2rem;
        //  left:45vw !important;
        left: 46rem !important;
    position: fixed !important;
    top: 50rem !important;
    z-index: -1000;
        }
      }
    }
  }
}
