.nav-wrapper{
  background-color: #ffe500;
  color: #ffe500;
  height: 5rem;
  left: 0;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .col{
    span{
        line-height: 5rem;
    }
    h5{
      line-height: 5rem;
      padding-left: 10vw;
      font-size:1.8rem;
    }
  }
}

.showNavIcon{
  float: left;
}
input[type=checkbox] {
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   z-index: 100000;
   /* For mobile, it's typically better to position checkbox on
      top of clickable  area and turn opacity to 0 instead. */
}
#showNavLabel{
   z-index: 100001;
   position: relative;
   width: 100%;
   min-width: 208px;
   color: black;
}
/* Default State */
.navBar {
   background: black;
   color: black;
   height: 100%;
   left: 0%;
   //line-height: 100px;
   position: fixed;
   top:-110%;
   transition: left 1s;
   width: 50vw;
     max-width: 500px;
     min-width: 208px;
   z-index: 10000;

   transition: top 0.2s;

   div{
     ul{
       li{
         background-color:#ffe500;
         font-size: 2rem;
         line-height: 5rem;
         padding-left: 2vw;
         margin-bottom: 1rem;

         a{
           color: black;
         }
       }
     }
   }
}

/* Toggled State */
input[type=checkbox]:checked ~ .navBar {
    background: black;
    color: #ffe500;
    top:0;
    left: 0;

}
input[type=checkbox]:checked ~ #showNavLabel{
  opacity: 0;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
