<div class="row footer-wrapper">

  <div class="row footer-content">

    <div class="col footer-col-1 ">

      <h5>Column Header 1</h5>
      <ul class="list-unstyled text-small">
        <li ><a class="text-muted" href="#">Adipisicing quis</a></li>
        <li><a class="text-muted" href="#">Anim et irure</a></li>
        <li><a class="text-muted" href="#">Magna deserunt</a></li>
        <li><a class="text-muted" href="#">Cillum nostrud</a></li>
        <li><a class="text-muted" href="#">Excepteur aliquip</a></li>
        <li><a class="text-muted" href="#">Laborum est</a></li>
      </ul>

    </div>
    <div class="col footer-col-2 ">

      <h5>Column Header 2</h5>
      <ul class="list-unstyled text-small ">
        <li><a class="text-muted" href="#">Amet est anim</a></li>
        <li><a class="text-muted" href="#">Consequat</a></li>
        <li><a class="text-muted" href="#">Culpa Lorem</a></li>
        <li><a class="text-muted" href="#">Sunt esse</a></li>
        <li><a class="text-muted" href="#">Reprehenderit</a></li>
        <li><a class="text-muted" href="#">Exercitation</a></li>
      </ul>
    </div>

    <div class="w-100 d-block d-md-none"></div>

    <div class="col footer-col-3 ">
      <!-- <img src="/assets/tennis.jpg" alt="" /> -->
      <!--
      <h5>Column Header 3</h5>
      <ul class="list-unstyled text-small">

        <li><a class="text-muted" href="#">Elit labore</a></li>
        <li><a class="text-muted" href="#">Nostrud dolor</a></li>
        <li><a class="text-muted" href="#">Proident amet</a></li>
        <li><a class="text-muted" href="#">Commodo quis</a></li>
        <li><a class="text-muted" href="#">Proident reprehe</a></li>
        <li><a class="text-muted" href="#">Dolor voluptate</a></li>
      </ul>
    -->
    </div>

<!--
    <div class="col col-sm-3">

      <h5>Column Header 4</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Magna sint</a></li>
        <li><a class="text-muted" href="#">Excepteur id</a></li>
        <li><a class="text-muted" href="#">Ipsum aliquip</a></li>
        <li><a class="text-muted" href="#">Fugiat sit</a></li>
        <li><a class="text-muted" href="#">Esse adipisicing</a></li>
        <li><a class="text-muted" href="#">Duis do</a></li>
      </ul>
    </div>
-->
</div>

</div>
