.footer-wrapper{
  margin: 0 auto;

  .footer-content{
    background-color: #ffff00;
    margin: 0 auto;
    min-width: 300px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    width: 100%;

    div{
      padding: 0.5rem;
      text-align: center;
      h5{
        background-color: black;
        color: yellow;
        font-size: 2rem;
        border-bottom: 1px solid #00000017;
        text-align: center;
      }

      ul{
        li{
          a{
            color:black !important;

          }

        }
      }
    }

    .footer-col-1{}
    .footer-col-2{}
    .footer-col-3{/*
      background-image: url("/assets/tennis.jpeg");
      background-size: cover;
      min-height: 14rem;
      */

        img{
            //width: 50%;
            max-height: 120px;
            width: 120px;
        }
    }
  }
}
@media only screen and (min-width: 575px) {
  .footer-wrapper{
    .footer-content{
      div{
        h5{
          font-size: 2rem;
        }
        ul{
          font-size: 1.5rem;
        }
      }

      .footer-col-3{
        img{

        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer-wrapper{
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}
