<div class="slider-area row">
  <div class="slider col-sm-12 col-md-8">

      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0"  >
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner ">
          <div class="carousel-item  first-slide active">
            <!-- <img class="first-slide" src="/assets/slide-1.jpg" alt="First slide">-->
            <div class="container ">
              <div class="carousel-caption text-left">
                <h1>Voluptate eiusmod</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item second-slide">

            <div class="container">
              <div class="carousel-caption">
                <h1>Qui veniam incididunt</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>

          <div class="carousel-item third-slide">
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Dolor amet adipisicing</h1>
                <p>Cras wjusto odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

   </div>
  <!-- <div class="w-100 d-block d-sm-none d-md-none"></div> -->

    <div class="side-images col-sm-12 col-md-4 col-lg-4">
      <div class="row">

        <div class="col-sm-4 col-md-12 side-image-1">
          <div class="carousel-caption text-left">
            <h1>Magna culpa fugiat</h1>
            <p>Id pariatur officia reprehenderit occaecat elit adipisicing irure in. Exercitation fugiat Lorem culpa cupidatat ullamco sunt non eiusmod labore do non sint mollit magna.</p>
          </div>
        </div>

        <div class="col-sm-4 col-md-12 side-image-2">
          <div class="carousel-caption text-left">
            <h1>Excepteur dolor sint</h1>
            <p>Sit excepteur voluptate occaecat et nulla ad aliqua eiusmod in velit. Enim dolore enim enim quis in ullamco cillum eu sint sit ea. Eiusmod sunt officia proident laborum.</p>
          </div>
        </div>

        <div class="col-sm-4 col-md-12 side-image-3">
          <div class="carousel-caption text-left">
            <h1>Duis esse aute</h1>
            <p>Tempor sint laborum tempor nisi incididunt est officia veniam reprehenderit enim. Est ad Lorem aliquip adipisicing occaecat reprehenderit pariatur duis labore ad incididunt.</p>
          </div>
        </div>

      </div>
  </div>
</div>
