/* You can add global styles to this file, and also import other style files */
/*
 *{ border: 1px solid black;}
*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.main-wrapper{
  min-width: 300px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: yellow;

}

@media screen and (min-width: 768px) {
.main-wrapper{ max-width:760px;}
}

@media screen and (min-width: 1024px) {
.main-wrapper{width: 100%; max-width: 1200px;}
}

@media screen and (min-width: 1920px) {
.main-wrapper{max-width: 115rem;}
}
