<div class="main-content-area-wrapper">
  <article class="row">
    <div class="content-left col-sm-12 col-md-4 col-lg-4">
      <div class="row article-info">

      <div class="authorDetails col-sm-6 col-md-12">
        <img src="assets/author-photo.png" alt="">
        <h2>Chris Dunne</h2>
        <h3>@johnsmith</h3>
        <h3>Posted: 3 March 2018 : 10:50</h3>
      </div>

      <div class="socialMedia col-sm-6 col-md-12">
        <h2>Share:</h2>
        <img src="/assets/twitter.png" alt="twitter logo">
        <img src="/assets/fb.png" alt="face book logo">
        <img src="/assets/google.png" alt="google logo">
        <img src="/assets/linkedin.png" alt="linked in logo">
        <img src="/assets/pinterest.png" alt="pinterest logo">
      </div>

      </div>
        <!-- Social Media -->

        <!-- Author -->
        <!-- Author Photo -->
        <!-- Author Social Media -->
        <!-- Date Posted -->

    </div>

    <div class="content-right col-md-8 col-lg-8">

      <div class="col article-title">
        <h1>Article Title</h1></div>
      <div class="col article">

        <p>Aute voluptate irure laborum ad occaecat eu est reprehenderit ut commodo enim nisi mollit. Sint est anim aute sint nostrud esse officia nulla laboris tempor nostrud veniam velit labore. Nulla ad non culpa reprehenderit do reprehenderit incididunt.
          Dolor eiusmod excepteur magna exercitation ut labore nulla commodo fugiat labore deserunt consequat ullamco.</p>

        <p>Dolore adipisicing fugiat nulla adipisicing et nulla minim sit cillum esse deserunt occaecat deserunt nostrud nulla mollit in. Ea proident laboris laboris occaecat reprehenderit deserunt do magna irure amet in ex. Cillum enim commodo cillum velit
          eiusmod est consectetur aliquip reprehenderit voluptate nostrud et reprehenderit commodo sit ea. Cupidatat proident voluptate culpa incididunt nulla fugiat exercitation fugiat incididunt elit. Officia nulla in eu anim quis tempor esse enim enim.</p>

        <p>Culpa amet id voluptate eu ea occaecat occaecat. Consequat adipisicing mollit consectetur ullamco anim eu mollit voluptate enim ut. Laboris commodo quis amet cillum est nostrud Lorem anim anim cupidatat eu esse aliqua consequat ad.</p>

        <p>Reprehenderit cillum sit veniam duis occaecat veniam consequat cupidatat dolor occaecat ad incididunt in dolor. Nisi proident laborum adipisicing esse elit amet voluptate in culpa eu exercitation ad. Officia laboris ut in magna aliqua proident
          enim cupidatat voluptate ipsum excepteur aliqua eu officia officia. Do consectetur ex proident in do enim fugiat. Tempor consectetur laboris ex est labore adipisicing excepteur excepteur dolore ad anim est Lorem dolore in. Do magna ex officia
          ex ea nisi excepteur laboris occaecat culpa reprehenderit. Ad anim incididunt qui aliquip exercitation Lorem non reprehenderit dolor pariatur voluptate ad sunt irure. Culpa adipisicing nisi qui sunt commodo elit pariatur consectetur non esse
          fugiat cupidatat officia duis incididunt.</p>
      </div>

    </div>
  </article>
</div>
