.main-content-area-wrapper {
  margin: 0 auto;
  padding: 2rem;

  article {
    padding-left: 2rem;
    padding-right: 2rem;

    .content-left {
      background-color: yellow;
      color: black;
      text-align: right;
      padding: 0;

      div {
        text-align: left;
        padding-bottom: 1rem;
        padding-top: 1rem;
        //width: 50%;
        .authorDetails {
          padding-left: 2rem;

          img {
            width: 100px;
            padding-bottom: 1rem;
          }

          h2 {
            border-bottom: 1px solid black;
          }
        }

        .socialMedia {
          padding-left: 2rem;

          img {
            width: 50px;
          }
        }
      }
    }

    .content-right {
      padding: 0;

      div {
        padding: 0;

        h1 {
          border-bottom: 5px solid #ffff00;
          margin: 0;
        }
      }

      .article {
        padding: 2rem 0;
      }
    }
  }
}
@media screen and (min-width: 575px) {
  .main-content-area-wrapper {
    article {
      .content-right {
        .article {
          p {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .main-content-area-wrapper {
    min-height: 700px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    article {
      .content-left {
        div {
          width: 100%;
        }
      }

      .content-right {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        div {
          h1 {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .main-content-area-wrapper {
    article {
      .content-right {
        .article {
          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .main-content-area-wrapper {
    article {
      .content-left {
        max-width: 36rem;
      }
    }
  }
}
